.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 21px;
  border-radius: 21px 6rem 21px 21px;
  height: max-content;
  width: 21rem;
  color: #ffffff;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: #005f6f 7px 7px 26px;
  background-color: #01201600;
  border: 2px solid #0ff9;
  border-block-start-color: black;
  border-inline-end-color: black;
}

.card_index_title {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;

  width: 100%;
  font-size: 17px;
  font-weight: bolder;
  letter-spacing: 0.4px;
}

.card_status {
  width: 100%;
  font-size: 24px;
  font-weight: lighter;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.button_container {
  width: 100%;
}
.button_update_remove {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.update_remove {
  width: 100%;
  text-align: center;
  align-self: baseline;
}

.btn {
  padding: 8px;
  width: inherit;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.4px;
  font-weight: bold;
  outline: transparent;
  border-radius: 1rem 1rem 12rem 1rem;
  color: #fff;
  background-color: #0284992b;
  border: 1px solid #fff;
  box-shadow: #000000ed 2px 3px 6px;
}
